    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Using Tariq</h2>
                    <p>Please contact us for details about Tariq and how to use the system.</p>
                    <a href="https://www.advemu.com/" class="btn btn-default btn-lg">Usage Page</a>
                </div>
            </div>
        </div>
    </section>
