    <!-- Contact Section -->
    <section id="info" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Info</h2>
                <p><h3># Communication Module</h3>
                <ul>
                      <li>HTTP</li>
                      <li>DNS</li>
                      <li>TCP</li>
                </ul>
                
                <h3># Crypto Module (Channel Encryption)</h3>
                <ul>
                      <li>AES 256</li>
                      <li>AES 192</li>
                      <li>AES 128</li>
                      <li>Hybrid RSA + AES - (Very soon)</li>                    
                </ul>
                
                <h3># C2 Profile</h3>
                    Tariq uses C2 Profiles to automated some of the agent behaviours. You can do the following:
                <ul>
                      <li>Sleep Time (DNS and HTTP only)</li>
                      <li>Add customizable HTTP headers for both server and client</li>
                      <li>Setting IP, Port, ListenerType, and PayloadType</li>
                </ul>
                </p>

            </div>
        </div>
    </section>
