    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Info</h2>
                <p>
                  # Communication Module
                  - **HTTP**
                  - **DNS**
                  - **TCP**

                  # Crypto Module (Channel Encryption)
                  - **AES 256**
                  - **AES 192**
                  - **AES 128**
                  - **(Hybrid RSA + AES) (Very soon)**

                  # C2 Profile
                  Our system uses C2 Profiles to automated some of the agent behaviours. You can do the following:
                  - Sleep Time (for DNS and HTTP)
                  - Adding customizable HTTP headers for both server and client.
                  - Setting IP, Port, ListenerType, and PayloadType.
                </p>

            </div>
        </div>
    </section>
