    <!-- Contact Section -->
    <section id="info" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <center><h2>Info</h2></center>
                <div>
                # Communication Module
                <ul>
                      <li>HTTP</li>
                      <li>DNS</li>
                      <li>TCP</li>
                </ul>
                
                # Crypto Module (Channel Encryption)
                <ul>
                      <li>AES 256</li>
                      <li>AES 192</li>
                      <li>AES 128</li>
                      <li>Hybrid RSA + AES - (Very soon)</li>                    
                </ul>
                
                # C2 Profiles
                </br>Tariq uses C2 profiles to automate some of the agent behaviour. The features below are currently available
                <ul>
                      <li>Sleep Time (DNS and HTTP only)</li>
                      <li>Add customizable HTTP headers for both server and client</li>
                      <li>Custom IP address, Port number, Type of Listener, and Type of Payload</li>
                </ul>
                <center><h3>Website still under construction!</h3></center>
                </div>

            </div>
        </div>
    </section>
